@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: grapenuts;
    src: url(./fonts/GrapeNuts-Regular.ttf);
  }

@font-face {
    font-family: ibm;
    src: url(./fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf)
}

:root {
    --image: url('./img/bg5.png')
}


.app {
    /* background-image: linear-gradient(black, green); */
    background-image: url('./img/bg1.png');
    margin-top: -1vh;
    margin-left: -1vh;
    margin-right: -1vh;
    margin-bottom: -20vh;
  }

.title-banner {
    /* background-image: linear-gradient( green, black); */
    background-image: url('./img/bg1.png');
    display: flex;
    color: gold;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid black;
    margin: 0;
    height: 17vh;
}

img {
    height: 12vh;
    margin: 0;
}

.header {
    font-size: 5vw;
    /* font-family: 'Montserrat', Tahoma, sans-serif; */
    font-family: ibm;
    margin-left: 5vw;
    margin-right: 5vw;

}

.header::first-letter {
    font-size: 8vw;
}

.navi-links {
    /* background-image: linear-gradient(yellow, gold, black); */
    background-image: url('./img/bg3.png');
    display: flex;
    list-style: none;
    justify-content: center;
    border: 0.5vh solid black;
    margin: 0;
    padding: 1vh;
}

.navi-title {
    font-family: 'Montserrat', Tahoma, sans-serif;
    font-weight:bolder;
    color: white;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-logo-button {
    height: 18vh;
    width: auto;
    transition: transform .25s;
}

.home-logo-button:hover {
    transform:scale(1.18)
}

.other-logo-button {
    height: 10vh;
    width: auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    transition: transform .25s;
}

.other-logo-button:hover {
    transform: scale(1.2);
}

.list {
    /* background-image: linear-gradient(goldenrod, black); */
    background-image: url('./img/bg3.png');

    font-family: ibm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid black;
    border-radius: 10%;
}

.item {
    width: 20%;
    margin: 1vw;
    /* background-color: #202939; */
    background-image: url('./img/bg1.png');
    font-family: ibm;
    border-radius: 4%;
    border: 0.2vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: transform .6s;
}

.item:hover {
    transform: scale(1.1);
}

.item h2 {
    color: goldenrod;
    justify-content: center;
    align-items: center;
}

.item .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    font-size: larger;
    text-decoration: none;
}

.item .link:hover {
    color: green;
}

.description {
    padding: 2vh 2vw;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}

.single-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/bg1.png');

}

.single-item .item {
    width: 50%;
    height: 50%;
    margin: 6vh;
    background-image: url('./img/bg3.png');

}

.single-item .item h2 {
    font-size: xx-large;
}

.single-item .description {
    font-size: x-large;
    margin-bottom: 6vh;
}

.pagination {
    display: flex;
    justify-content: center;
    background-color: none;
    height: 4vh;
    width: 60%;
    font-family: ibm;


}

.pagination a {
    color: black;
    text-decoration: none;
    border: 0.1vh solid black;
    height: 100%;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: gold;
    border-radius: 10%;
    transition: transform .4s;
  }

.pagination a:hover {
    cursor: pointer;
    transform: scale(1.2)
}
  